// Resets
*, *::before, *::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	outline: none; // :(
}

input, textarea, select, button {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
}

option {
	color: initial;
}

// End resets

html {
	font-size: 62.5%; /* 62.5% of 16px = 10px */
}

body {
	background-color: $bg-page;
	color: $white;
	font-family: $font-main;
	font-weight: 500;
	font-size: $default-font-size;
}

a {
	color: $main;
}
