@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 300;
	src: url('../assets/fonts/Avenir-Book.woff2') format('woff2'),
		url('../assets/fonts/Avenir-Book.woff') format('woff'),
		url('../assets/fonts/Avenir-Book.ttf') format('truetype');
}

@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 500;
	src: url('../assets/fonts/Avenir-Medium.woff2') format('woff2'),
		url('../assets/fonts/Avenir-Medium.woff') format('woff'),
		url('../assets/fonts/Avenir-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 700;
	src: url('../assets/fonts/Avenir-Heavy.woff2') format('woff2'),
		url('../assets/fonts/Avenir-Heavy.woff') format('woff'),
		url('../assets/fonts/Avenir-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 900;
	src: url('../assets/fonts/Avenir-Black.woff2') format('woff2'),
		url('../assets/fonts/Avenir-Black.woff') format('woff'),
		url('../assets/fonts/Avenir-Black.ttf') format('truetype');
}
