.search {
  position: relative;
  flex-grow: 1;

  .btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .icon {
    height: 1.6rem;

    svg {
      height: 100%;
      fill: $white;
    }
  }
}
